<div class="container mx-auto py-16">
  <div class="flex flex-col gap-4">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>Change Detection Problem</mat-expansion-panel-header>
      <app-example-one></app-example-one>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>Computed Properties</mat-expansion-panel-header>
      <app-example-two></app-example-two>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>Router Input Binding</mat-expansion-panel-header>
      <button class="btn" [routerLink]="'./test/12345'">navigate</button>
      <router-outlet></router-outlet>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>Required Input</mat-expansion-panel-header>
      <app-example-four [text]="'test'"></app-example-four>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>destroyRef & inject()</mat-expansion-panel-header>
      <button class="btn" (click)="showExampleFive.set(!showExampleFive())">{{showExampleFive() ? 'destroy component' : 'create component'}}</button>
      <app-example-five *ngIf="showExampleFive()"></app-example-five>
    </mat-expansion-panel>
  </div>
</div>
